<script src= "aes.js"></script>

<script>
	function toNumbers(d){var e=[]; d.replace(/(..)/g, function (d){e.push(parseInt(d, 16))}); return e}function toHex(){for (var d=[], d=1==arguments.length && arguments[0].constructor==Array ? arguments[0] : arguments, e="", f=0; f < d.length; f++) e +=(16 > d[f] ? "0" : "") + d[f].toString(16); return e.toLowerCase()};

	function extract(r){
		const ex = /var .=toNumbers\("([0-9a-f]{32})"\), .=toNumbers\("([0-9a-f]{32})"\), .=toNumbers\("([0-9a-f]{32})"\)/;
		return r.match(ex);
	}
</script>

<script>
function solve(obj){
	var a = toNumbers(obj[1]);
	var b = toNumbers(obj[2]);
	var c = toNumbers(obj[3]);
	var dec = toHex(slowAES.decrypt(c, 2, a, b))
	return dec;
}

function auth(url){
	var xhr = new XMLHttpRequest();
	xhr.open("GET", "cors.php?s=" + url, false);
	xhr.onload = function (e) {
	  if (xhr.readyState === 4) {
	    if (xhr.status === 200) {
	      var obj = extract(xhr.responseText);
	      var result = solve(obj);
	      console.log("authed: " + result);
	      window.auth = result;
	      return true;
	    } else {
	      console.log(xhr.statusText);
	      window.auth = 0;
	      return false;
	    }
	  }
	};
	xhr.onerror = function (e) {
	  console.log(xhr.statusText);
	  window.auth = 0;
	  return false;
	};
	xhr.send(null); 
}

//window.id = "76561198361706978";

function query(name, url){
	//var .=toNumbers\("([0-9a-f]{32})"\), .=toNumbers\("([0-9a-f]{32})"\), .=toNumbers\("([0-9a-f]{32})"\);
	const p = document.body.appendChild(document.createElement('p'));
	p.style.color = "gray"; p.textContent = name + " => WAITING";

	if(window.auth == 0){
		p.style.color = "red"; p.textContent = name + " => ERROR";
		return;
	}

	var xhr = new XMLHttpRequest();
	xhr.open("GET", "corsc.php?u=" + btoa(url) + "&c=" + window.auth, true);
	xhr.onload = function (e) {
	  if (xhr.readyState === 4) {
	    if (xhr.status === 200) {
	      var obj = JSON.parse(xhr.responseText);
	      var fnd = false;
	      if(obj["status"] == "success"){ //not magic
	      	for (var j = 0 ; j < obj["data"].length; j++) {
        		if (obj["data"][j]["targetSteamID"] == window.id){
        			fnd = true;
        			p.style.color = "red"; p.textContent = name + " => BANNED (" + obj["data"][j]["reason"] + ")";
        		}
    		}
    		
	      }
	      else{
	      	for (var j = 0 ; j < obj.length; j++) {
        		if (obj[j]["steamid"] == window.id){
        			fnd = true;
        			p.style.color = "red"; p.textContent = name + " => BANNED (" + obj[j]["reason"] + ")";
        		}
    		}
	      }
	      if(fnd == false){
    			p.style.color = "green"; p.textContent = name + " => NOT BANNED";
    	  }
	      console.log(obj);

	    } else {
	      console.log(xhr.statusText);
	      p.style.color = "red"; p.textContent = name + " => ERROR";
	    }
	  }
	};
	xhr.onerror = function (e) {
	  console.log(xhr.statusText);
	  p.style.color = "red"; p.textContent = name + " => ERROR";
	};
	xhr.send(null); 
}

function start(){
	window.id = document.getElementById("1").value;

	if(auth("https://funrust.net/") == false){
		if(auth("https://api.magicrust.ru") == false){
			if(auth("https://traveler.playrust.ru/") == false){
				if(auth("https://shop.grand-rust.ru/") == false){
					//shops are down..
				}
			}
		}
	}

	query("MAGIC RUST", "https://api.magicrust.ru/players/getBanList.php");
	query("FUNRUST", "https://funrust.net/api/index.php?modules=banlist&action=getData&serverID=86");
	query("FURY RUST", "https://furyclans.playrust.ru/api/index.php?modules=banlist&action=getData&serverID=181");
	query("TRAVELER RUST", "https://traveler.playrust.ru/api/index.php?modules=banlist&action=getData&serverID=1417");
	query("GRAND RUST", "https://shop.grand-rust.ru/api/index.php?modules=banlist&action=getData&serverID=30");
	query("ULTIMATE RUST", "https://ultimaterust.ru/api/index.php?modules=banlist&action=getData&serverID=688");
	query("DRAKESS STATE", "http://11928.pay2win.ru/api/index.php?modules=banlist&action=getData&serverID=5816");
	query("BLOOD RUST", "https://bloodrust.ru/api/index.php?modules=banlist&action=getData&serverID=4823");
	query("FACEPALM", "https://shop.facepalm.gg/api/index.php?modules=banlist&action=getData&serverID=5843");
	query("XRAY", "https://x-rayrust.ru/api/index.php?modules=banlist&action=getData&serverID=5234");
	query("AGE OF HARDCORE", "https://rust.ageofhardcore.ru/api/index.php?modules=banlist&action=getData&serverID=1819");
}


</script>

<html>
<a target="_blank" rel="noopener noreferrer" href ="https://steamid.io/">steamid.io</a><br>
<textarea id="1" cols="20" rows="1"></textarea>
<button onclick = "start()">check</button>
</html>